.top,
.bottom {
  transition: all .4s ease-out;
}

.top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(45deg) translate(4px, 0px);
}

.center {
  transform: rotate(-45deg);
}

.bottom {
  -webkit-transform: rotate(-45deg);
  transform: rotate(45deg) translate(-4px, 0px);
}



.translate {
  transform: translateX(0);
}